// Copyright (C) 2026 nohuto
// SPDX-License-Identifier: AGPL-3.0-or-later

#include <windows.h>
#include "resource.h"

IDI_APPICON ICON "../assets/icons/regkit.ico"

1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION REGKIT_VERSION_MAJOR, REGKIT_VERSION_MINOR, REGKIT_VERSION_PATCH, REGKIT_VERSION_BUILD
 PRODUCTVERSION REGKIT_VERSION_MAJOR, REGKIT_VERSION_MINOR, REGKIT_VERSION_PATCH, REGKIT_VERSION_BUILD
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "nohuto\0"
      VALUE "FileDescription", "RegKit\0"
      VALUE "FileVersion", REGKIT_VERSION_STR "\0"
      VALUE "InternalName", "regkit\0"
      VALUE "LegalCopyright", "(C) 2026 nohuto\0"
      VALUE "OriginalFilename", "regkit.exe\0"
      VALUE "ProductName", "RegKit\0"
      VALUE "ProductVersion", REGKIT_VERSION_STR "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END

// IDR_TRACE_23H2 RCDATA "../records/23H2.txt"
// IDR_TRACE_24H2 RCDATA "../records/24H2.txt"
// IDR_TRACE_25H2 RCDATA "../records/25H2.txt"

#include "icons.rc"
#include "editor_dialogs.rc"
#include "search_dialogs.rc"
#include "appearance_dialogs.rc"
