// Copyright (C) 2026 nohuto
// SPDX-License-Identifier: AGPL-3.0-or-later

IDD_THEME_PRESETS DIALOGEX 0, 0, 520, 250
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Theme Presets"
FONT 9, "Segoe UI"
BEGIN
    GROUPBOX        "Presets",IDC_STATIC,8,6,164,214
    LISTBOX         IDC_THEME_PRESET_LIST,16,20,148,140,LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "New...",IDC_THEME_NEW,16,164,68,11
    PUSHBUTTON      "Duplicate",IDC_THEME_DUPLICATE,96,164,68,11
    PUSHBUTTON      "Rename...",IDC_THEME_RENAME,16,178,68,11
    PUSHBUTTON      "Delete",IDC_THEME_DELETE,96,178,68,11
    PUSHBUTTON      "Import...",IDC_THEME_IMPORT,16,192,68,11
    PUSHBUTTON      "Export...",IDC_THEME_EXPORT,96,192,68,11

    GROUPBOX        "Colors",IDC_STATIC,178,6,334,176
    CONTROL         "",IDC_THEME_COLOR_LIST,"SysListView32",WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL,188,20,314,132
    PUSHBUTTON      "Edit Color...",IDC_THEME_EDIT_COLOR,188,156,78,11
    AUTOCHECKBOX    "Treat as dark theme",IDC_THEME_DARK,272,157,130,10

    GROUPBOX        "Templates",IDC_STATIC,178,186,334,36
    COMBOBOX        IDC_THEME_TEMPLATE,188,198,200,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Apply Template",IDC_THEME_APPLY_TEMPLATE,394,198,60,11

    DEFPUSHBUTTON   "Apply",IDC_THEME_APPLY,332,230,45,11
    PUSHBUTTON      "OK",IDOK,396,230,45,11
    PUSHBUTTON      "Cancel",IDCANCEL,450,230,45,11
END

