IDI_ICON_LIGHT_BACK ICON "../assets/icons/phosphor/light/back.ico"
IDI_ICON_LIGHT_COPY ICON "../assets/icons/phosphor/light/copy.ico"
IDI_ICON_LIGHT_DELETE ICON "../assets/icons/phosphor/light/delete.ico"
IDI_ICON_LIGHT_EXPORT ICON "../assets/icons/phosphor/light/export.ico"
IDI_ICON_LIGHT_FOLDER ICON "../assets/icons/phosphor/light/folder.ico"
IDI_ICON_LIGHT_SYMLINK ICON "../assets/icons/phosphor/light/symlink.ico"
IDI_ICON_LIGHT_DATABASE ICON "../assets/icons/phosphor/light/database.ico"
IDI_ICON_LIGHT_FORWARD ICON "../assets/icons/phosphor/light/forward.ico"
IDI_ICON_LIGHT_LOCAL_REGISTRY ICON "../assets/icons/phosphor/light/local-registry.ico"
IDI_ICON_LIGHT_OFFLINE_REGISTRY ICON "../assets/icons/phosphor/light/offline-registry.ico"
IDI_ICON_LIGHT_PASTE ICON "../assets/icons/phosphor/light/paste.ico"
IDI_ICON_LIGHT_REDO ICON "../assets/icons/phosphor/light/redo.ico"
IDI_ICON_LIGHT_REFRESH ICON "../assets/icons/phosphor/light/refresh.ico"
IDI_ICON_LIGHT_REMOTE_REGISTRY ICON "../assets/icons/phosphor/light/remote-registry.ico"
IDI_ICON_LIGHT_REPLACE ICON "../assets/icons/phosphor/light/replace.ico"
IDI_ICON_LIGHT_SEARCH ICON "../assets/icons/phosphor/light/search.ico"
IDI_ICON_LIGHT_TEXT ICON "../assets/icons/phosphor/light/text.ico"
IDI_ICON_LIGHT_BINARY ICON "../assets/icons/phosphor/light/binary.ico"
IDI_ICON_LIGHT_UNDO ICON "../assets/icons/phosphor/light/undo.ico"
IDI_ICON_LIGHT_UP ICON "../assets/icons/phosphor/light/up.ico"
IDI_ICON_LIGHT_FOLDER_SIM ICON "../assets/icons/phosphor/light/folder-sim.ico"

IDI_ICON_DARK_BACK ICON "../assets/icons/phosphor/dark/back.ico"
IDI_ICON_DARK_COPY ICON "../assets/icons/phosphor/dark/copy.ico"
IDI_ICON_DARK_DELETE ICON "../assets/icons/phosphor/dark/delete.ico"
IDI_ICON_DARK_EXPORT ICON "../assets/icons/phosphor/dark/export.ico"
IDI_ICON_DARK_FOLDER ICON "../assets/icons/phosphor/dark/folder.ico"
IDI_ICON_DARK_SYMLINK ICON "../assets/icons/phosphor/dark/symlink.ico"
IDI_ICON_DARK_DATABASE ICON "../assets/icons/phosphor/dark/database.ico"
IDI_ICON_DARK_FORWARD ICON "../assets/icons/phosphor/dark/forward.ico"
IDI_ICON_DARK_LOCAL_REGISTRY ICON "../assets/icons/phosphor/dark/local-registry.ico"
IDI_ICON_DARK_OFFLINE_REGISTRY ICON "../assets/icons/phosphor/dark/offline-registry.ico"
IDI_ICON_DARK_PASTE ICON "../assets/icons/phosphor/dark/paste.ico"
IDI_ICON_DARK_REDO ICON "../assets/icons/phosphor/dark/redo.ico"
IDI_ICON_DARK_REFRESH ICON "../assets/icons/phosphor/dark/refresh.ico"
IDI_ICON_DARK_REMOTE_REGISTRY ICON "../assets/icons/phosphor/dark/remote-registry.ico"
IDI_ICON_DARK_REPLACE ICON "../assets/icons/phosphor/dark/replace.ico"
IDI_ICON_DARK_SEARCH ICON "../assets/icons/phosphor/dark/search.ico"
IDI_ICON_DARK_TEXT ICON "../assets/icons/phosphor/dark/text.ico"
IDI_ICON_DARK_BINARY ICON "../assets/icons/phosphor/dark/binary.ico"
IDI_ICON_DARK_UNDO ICON "../assets/icons/phosphor/dark/undo.ico"
IDI_ICON_DARK_UP ICON "../assets/icons/phosphor/dark/up.ico"
IDI_ICON_DARK_FOLDER_SIM ICON "../assets/icons/phosphor/dark/folder-sim.ico"
