IDD_COMPARE DIALOGEX 0, 0, 560, 191
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Compare Registries"
FONT 9, "Segoe UI"
BEGIN
    GROUPBOX        "First Entry",IDC_STATIC,8,6,544,76
    LTEXT           "Source:",IDC_STATIC,16,20,36,8
    COMBOBOX        IDC_COMPARE_LEFT_SOURCE,60,18,200,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Root:",IDC_STATIC,268,20,28,8
    COMBOBOX        IDC_COMPARE_LEFT_ROOT,300,18,228,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Path:",IDC_STATIC,16,33,28,6
    EDITTEXT        IDC_COMPARE_LEFT_PATH,60,31,468,11,ES_AUTOHSCROLL
    LTEXT           "File:",IDC_STATIC,16,46,22,8
    EDITTEXT        IDC_COMPARE_LEFT_FILE,60,44,388,11,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_COMPARE_LEFT_BROWSE,452,44,48,11
    LTEXT           "Key:",IDC_STATIC,16,59,22,8
    COMBOBOX        IDC_COMPARE_LEFT_KEY,60,57,410,120,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "Recursive",IDC_COMPARE_LEFT_RECURSIVE,478,59,70,10

    GROUPBOX        "Second Entry",IDC_STATIC,8,85,544,76
    LTEXT           "Source:",IDC_STATIC,16,99,36,8
    COMBOBOX        IDC_COMPARE_RIGHT_SOURCE,60,97,200,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Root:",IDC_STATIC,268,99,28,8
    COMBOBOX        IDC_COMPARE_RIGHT_ROOT,300,97,228,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Path:",IDC_STATIC,16,112,28,8
    EDITTEXT        IDC_COMPARE_RIGHT_PATH,60,110,468,11,ES_AUTOHSCROLL
    LTEXT           "File:",IDC_STATIC,16,125,22,8
    EDITTEXT        IDC_COMPARE_RIGHT_FILE,60,123,388,11,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_COMPARE_RIGHT_BROWSE,452,123,48,11
    LTEXT           "Key:",IDC_STATIC,16,138,22,8
    COMBOBOX        IDC_COMPARE_RIGHT_KEY,60,136,410,120,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "Recursive",IDC_COMPARE_RIGHT_RECURSIVE,478,138,70,10

    DEFPUSHBUTTON   "Compare",IDOK,460,176,45,11
    PUSHBUTTON      "Cancel",IDCANCEL,510,176,45,11
END
